@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";


@theme {
  --font-mdsans: "DM Sans", serif;
  --color-primary: #212936CC;
  --color-btns: #4D5562;
  --color-blueV1: #263FA9;
  --color-blueV2: #7CA9F3;
  --color-back: #040711;
}
